Python berguna untuk:

1. Web Development (Server â€“ Side)
2. Software Development
3. Mathematics
4. Scripting
5. Data Science
6. Mengelola Big Data dan Rumus matematika yang complex
7. Cocok untuk riset dan rapid prototype suatu product dan launch hingga produksi
8. CRUD sebuah file dan database

# **IF Statement**

In [1]:
i = 7 #inisialisasi variable i yang memiliki nilai 10

if(i==10): #pengecekan nilai i apakah sama dengan 10
	print("ini adalah angka 10") #jika TRUE maka akan mencetak kalimat ini

# **IF .. ELSE ..**

In [2]:
i = 5 #inisialisasi variable i yang memiliki nilai 10

if(i==10):	#pengecekan nilai i apakah sama dengan 10
	print("ini adalah angka 10") #jika TRUE maka akan mencetak kalimat ini
else:
	print("bukan angka 10") #jika FALSE akan mencetak kalimat ini

bukan angka 10

#**IF .. ELIF .. ELSE ..**

In [3]:
i=3

if(i==5):
	print("ini adalah angka 5")
elif(i>5):
	print("lebih besar dari 5")
else:
	print("lebih kecil dari 5")

lebih kecil dari 5

#**NESTED IF**

In [4]:
i=2
if(i<7):
	print("nilai i kurang dari 7")
 
	if(i<3):
		print("nilai i kurang dari 7 dan kurang dari 3")
	else:
		print("nilai i kurang dari 7 tapi lebih dari 3")

nilai i kurang dari 7
nilai i kurang dari 7 dan kurang dari 3

#**Operator Matematika dan Pembanding**

| Nama Operator | Operator |
| ------------- | -------- |
|Tambah         |    +     |
|Kurang         |    -     |
|Pembagi | / |
|Perkalian | * |
|Modulus | % |
|Kurang dari | < |
|Lebih dari | > |
|Kurang dari sama dengan | <= |
|Lebih dari sama dengan | >= |
|Sama dengan | = |

In [5]:
a=10
b=5
selisih = a-b
jumlah = a+b
kali = a*b
bagi = a/b

print("Hasil penjumlahan a dan b adalah", jumlah)
print("Selisih a dan b adalah :",selisih)
print("Hasil perkalian a dan b adalah :",kali)
print("Hasil pembagian a dan b adalah:",bagi)

Hasil penjumlahan a dan b adalah 15
Selisih a dan b adalah : 5
Hasil perkalian a dan b adalah : 50
Hasil pembagian a dan b adalah: 2.0

In [6]:
c=10
d=3

modulus=c%d
print("Hasil modulus",modulus)

Hasil modulus 1

#**Perulangan**

# ***while***

In [7]:
j = 0 #nilai awal j=0

while j<6:	#ketika j kurang dari 6 lakukan perulangan, jika tidak stop perulangan
	print("Ini adalah perulangan ke-",j) #lakukan perintah ini ketika perulangan
	j=j+1 #setiap kali diakhir perulangan update nilai dengan ditambah 1.

Ini adalah perulangan ke- 0
Ini adalah perulangan ke- 1
Ini adalah perulangan ke- 2
Ini adalah perulangan ke- 3
Ini adalah perulangan ke- 4
Ini adalah perulangan ke- 5

#***for***

In [8]:
for i in range (1,6): #perulangan for sebagai inisialisasi dari angka 1 hingga angka yang lebih kecil daripada 6.

    print("Ini adalah perulangan ke -", i) #perintah jika looping akan tetap berjalan

Ini adalah perulangan ke - 1
Ini adalah perulangan ke - 2
Ini adalah perulangan ke - 3
Ini adalah perulangan ke - 4
Ini adalah perulangan ke - 5

#***for with element***

In [9]:
for i in range (1,11):
    if(i%2==0):
        print("Angka genap",i)
    else:
         print("Angka ganjil",i)

Angka ganjil 1
Angka genap 2
Angka ganjil 3
Angka genap 4
Angka ganjil 5
Angka genap 6
Angka ganjil 7
Angka genap 8
Angka ganjil 9
Angka genap 10

#**Function**

In [10]:
# Membuat Fungsi
def salam():
	print("Hello, Selamat Pagi")

## Pemanggilan Fungsi
salam()

Hello, Selamat Pagi

##**Function Parameter**
Parameter adalah variabel yang menampung nilai untuk diproses kedalam suatu fungsi.

In [ ]:
def luas_segitiga(alas, tinggi):
	luas = (alas * tinggi) / 2
	print("Luas segitiga: %f" % luas);

# Pemanggilan fungsi
##4 dan 6 merupakan parameter yang diinputkan kedalam fungsi luas segitiga
luas_segitiga(4,6)

##**Function with Return Value**

In [11]:
def luas_segitiga(alas, tinggi): #alas dan tinggi merupakan parameter yang masuk
    luas = (alas * tinggi) / 2
    return luas


# Pemanggilan fungsi
##4 dan 6 merupakan parameter yang diinputkan kedalam fungsi luas segitiga 
print("Luas segitiga: %d" % luas_segitiga(4, 6))

Luas segitiga: 12

#**Import Package and Module**

In [12]:
import math
print("Nilai pi adalah:", math.pi) #math.pi merupakan sintak untuk memanggil fungsi

Nilai pi adalah: 3.141592653589793

In [13]:
import math as m #menggunakan m sebagai module rename atau alias
print("Nilai pi adalah:", m.pi) #m.pi merupakan sintak untuk memanggil fungsi

Nilai pi adalah: 3.141592653589793

##**Import Half Function**

In [14]:
from math import pi
print("Nilai pi adalah", pi)

Nilai pi adalah 3.141592653589793

##**Import All Modules**

In [15]:
from math import *
print("Nilai e adalah:",e)

Nilai e adalah: 2.718281828459045

#**Read File**



```
import csv

# tentukan lokasi file, nama file, dan inisialisasi csv
f = open('test.csv', 'r')
reader = csv.reader(f)

# membaca baris per baris
for row in reader:
     print (row)

# menutup file csv
f.close()

```

##**Using PANDAS**



```
import pandas as pd

table = pd.read_csv("test.csv")
table.head()
print(table)
```